.devCard{
    background:none;
    height: 250px;
    position: relative;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.devCard > .card-img-top {
    width: 25%;
    align-content: center;
  }