/*------------- Main Container -------------------*/
main {
 
  position: relative;
  z-index: 3;
 overflow: hidden;
}


main section {
  width: 70%;
  padding: 90px 0;
  margin: 50px auto 150px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;

}

main section h2 {
 font-size: 4.3rem;
 color: #ddd;
 text-transform: uppercase;
 line-height: 4.2rem; 
 padding-right: 10px;
 border-right: 3px solid #ddd;
}



main section div {
  position: relative;

}

main section div p {
  padding-left: 10px;
}

 /*------------- Services Cards -------------------*/

div.services {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
}


.services div {
  text-align: center;
  background: #fff;
  width: 90%;
  border-radius: 10px;
  margin: 10px auto 50px auto;
  
  -webkit-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75);
  
}

.services p.service-icon {
  font-size: 3.4rem;
  padding: 30px 0px 30px 0px;
  text-align: center;
  color: rgb(36,99,146);
  filter: grayscale(0%);
  border-bottom: 2px solid gray;
}
.services p.service-title{
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.services p:last-of-type{
  padding: 0px 90px 20px 90px; 
  text-align: left;
}

/* --------Client Page------------ */

#clientSurvey {
  margin-top: 30px;
}

.clientsName {
  background-color: rgb(220,220,220);
  padding: 50px 0 50px 0;
  border-radius: 5px;
}
.clientsName, .qb, .qc, .qd, .qe, .qf, .qg, .qh, .qi {
  border-bottom: 1px solid #282c34;
  padding: 30px;
}